PORT=3000
ALLOWED_ORIGINS=https://localhost:9001,http://localhost:9001
TBANK_API_TOKEN=
TBANK_API_BASE_URL=https://invest-public-api.tbank.ru/rest/tinkoff.public.invest.api.contract.v1
TBANK_API_TIMEOUT_MS=10000
TBANK_APP_NAME=
TBANK_ALLOW_CUSTOM_API_HOST=false
